workflows/WF4_RAG_Resolution.json
{
  "name": "WF4 — RAG Resolution",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -752,
        -240
      ],
      "id": "04219fb7-2222-49c4-ae0f-9e55bc05645e",
      "name": "When chat message received",
      "webhookId": "eeb2c9ff-a0e2-468c-8838-783a1f573190"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {
          "topK": 5
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -304,
        80
      ],
      "id": "4a2f36cc-6069-4f53-b8ea-46117279d1b1",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "Ay8K01i7YPO2C2iu",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "=",
        "qdrantCollection": {
          "__rl": true,
          "value": "voltshop_kb",
          "mode": "list",
          "cachedResultName": "voltshop_kb"
        },
        "options": {
          "contentPayloadKey": "content"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        -176,
        80
      ],
      "id": "f39114af-b19d-47e2-a073-09f6a1261d16",
      "name": "Qdrant Vector Store",
      "credentials": {
        "qdrantApi": {
          "id": "1vUr96jiZkIcjAhq",
          "name": "QdrantApi account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-001"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        -96,
        288
      ],
      "id": "4290af7c-687e-4a7a-87ff-1b05129d6b85",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "Ay8K01i7YPO2C2iu",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -752,
        -48
      ],
      "id": "cb22d3d2-cea9-41ff-b573-786c4ea1f693",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput || $json.raw_message }}\n",
        "options": {
          "systemMessage": "You are a helpful customer support agent for VoltShop, an online electronics store.\n\nIMPORTANT: For EVERY customer question, you MUST first search the VoltShop knowledge base using the available tool before responding. Never answer without searching first.\n\nAnswer the customer's question using ONLY the context retrieved from the knowledge base. If the search results don't contain enough information to answer confidently, say \"I don't have enough information to answer this accurately\" — do NOT make up information.\n\nAfter your answer, on a new line, output your confidence assessment in this exact format:\n\nCONFIDENCE: [1-5]\nGROUNDED: [true/false]\n\nWhere:\nCONFIDENCE: [1-5] - Rate based on your general knowledge of the topic:\n- 5: Very confident in the answer\n- 4: Mostly confident, minor uncertainty\n- 3: Somewhat confident, some uncertainty\n- 2: Low confidence, significant uncertainty\n- 1: No knowledge of this topic at all\n\nGROUNDED: [true/false] - true ONLY if the answer is directly supported by retrieved documents, false if answering from general knowledge or inference."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -272,
        -144
      ],
      "id": "0b0fca44-fc89-499d-8530-06541cc95d8f",
      "name": "AI Agent (Generate RAG Response)"
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json.text || $input.first().json.output;\n\n// Extract confidence and grounded values\nconst confidenceMatch = response.match(/CONFIDENCE:\\s*(\\d)/);\nconst groundedMatch = response.match(/GROUNDED:\\s*(true|false)/i);\n\nconst confidence = confidenceMatch ? parseInt(confidenceMatch[1]) : 1;\nconst grounded = groundedMatch ? groundedMatch[1].toLowerCase() === 'true' : false;\n\n// Remove the confidence metadata from customer-facing response\nconst cleanResponse = response\n  .replace(/CONFIDENCE:\\s*\\d/g, '')\n  .replace(/GROUNDED:\\s*(true|false)/gi, '')\n  .trim();\n\nreturn [{\n  json: {\n    response: cleanResponse,\n    confidence: confidence,\n    grounded: grounded,\n   raw_message: $('Generate Ticket ID').first().json.chatInput,\n   ticket_id: $('Generate Ticket ID').first().json.ticket_id,\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        192,
        -144
      ],
      "id": "0c6ef086-cf77-4085-8fb2-ce84f353e056",
      "name": "Parse Confidence"
    },
    {
      "parameters": {
        "mode": "expression",
        "numberOutputs": 2,
        "output": "={{ $json.grounded === true ? 0 : 1 }}"
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        416,
        -144
      ],
      "id": "edc583ce-0065-4982-a351-61aae7c6bdce",
      "name": "Route by Confidence"
    },
    {
      "parameters": {
        "jsCode": "const data = {\n  ...$input.first().json,\n  ticket_id: $('Generate Ticket ID').first().json.ticket_id,\n  raw_message: $('Generate Ticket ID').first().json.chatInput,\n};\n\nconst payload = JSON.stringify({\n  channel: \"C0AG97YAYP2\",\n  text: \"Flagged for Review\",\n  blocks: [\n    {\n      type: \"section\",\n      text: {\n        type: \"mrkdwn\",\n        text: `⚠️ *Flagged for Review*\\n\\n*Customer Message:* ${data.raw_message}\\n\\n*AI Response:* ${data.response}\\n\\n*Confidence:* ${data.confidence}/5 | *Grounded:* ${data.grounded}`\n      }\n    },\n    {\n      type: \"actions\",\n      elements: [\n        {\n          type: \"button\",\n          text: { type: \"plain_text\", text: \"✅ Mark Resolved\" },\n          style: \"primary\",\n          action_id: \"mark_resolved\",\n          value: data.ticket_id\n        },\n        {\n          type: \"button\",\n          text: { type: \"plain_text\", text: \"📚 Resolve + Add to KB\" },\n          action_id: \"resolve_add_kb\",\n          value: data.ticket_id\n        }\n      ]\n    }\n  ]\n});\n\nreturn [{json: {...data, payload, output: data.output}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        864,
        -48
      ],
      "id": "53f7dceb-1399-4458-9c79-ba15a91cdf26",
      "name": "Build Request Payload"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://slack.com/api/chat.postMessage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": ""
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $json.payload }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1088,
        -48
      ],
      "id": "b92cd8f1-1b6b-4c50-afd8-72e1bfd5647e",
      "name": "Send to Slack"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "215957c9-a269-4bb2-bb70-55f3c3b7a507",
              "name": "output",
              "value": "={{ $json.response }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        640,
        -240
      ],
      "id": "9de90ea8-2585-483d-b226-4ba90bc0b5d2",
      "name": "Return Confident Response"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "883476ce-ce32-4c3a-986e-84c88e5e658b",
              "name": "output",
              "value": "=Thank you for reaching out. I wasn't able to find a confident answer to your question, so I've escalated it to our support team. A human agent will review your query and get back to you shortly.",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        640,
        -48
      ],
      "id": "33a89ad5-778f-484b-97d6-48629d182aba",
      "name": "Return Flagged Response"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "17392500-0e48-4431-b4ae-06e94c3cee14",
              "name": "output",
              "value": "Thank you for reaching out. I wasn't able to find a confident answer to your question, so I've escalated it to our support team. A human agent will review your query and get back to you shortly.",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1312,
        -48
      ],
      "id": "a0cf4032-5bf4-44d1-a388-733b030f67c5",
      "name": "Customer Response"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4529c81c-d0bb-4c28-a667-095f0389943f",
              "name": "ticket_id",
              "value": "={{ $now.toMillis().toString() }}",
              "type": "string"
            },
            {
              "id": "a19602bf-7d03-47be-8082-c2abf26e33fe",
              "name": "start_time",
              "value": "={{ $now.toMillis() }}",
              "type": "string"
            },
            {
              "id": "e2657850-353a-4396-afd6-de6341d59577",
              "name": "chatInput",
              "value": "={{ $input.first().json.chatInput ?? $input.first().json.message ?? $input.first().json.raw_message ?? '' }}",
              "type": "string"
            },
            {
              "id": "ed0fdf33-a5fd-4f6c-a2df-7ec176b75536",
              "name": "customer_id",
              "value": "={{ $input.first().json.sessionId ?? $input.first().json.customer_id ?? 'unknown' }}",
              "type": "string"
            },
            {
              "id": "c842c8b3-d610-4857-a633-180dd5980f1f",
              "name": "channel",
              "value": "={{ $input.first().json.channel ?? 'chat' }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -528,
        -144
      ],
      "id": "2d854798-34a2-4a8d-9661-a7837e3a5eb9",
      "name": "Generate Ticket ID"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5678/webhook/log-ticket",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  channel: $('Generate Ticket ID').first().json.channel ?? 'chat',\n  customer_id: $('Generate Ticket ID').first().json.customer_id ?? 'unknown',\n  message: $('Generate Ticket ID').first().json.chatInput ?? '',\n  intent: $('Parse Confidence').first().json.intent ?? 'general',\n  confidence: $('Parse Confidence').first().json.confidence,\n  rag_answer: $('Return Confident Response').first().json.output ?? '',\n  grounded: true,\n  escalated: false,\n  resolved: false,\n  resolution_note: null,\n  response_ms: $now.toMillis() - $('Generate Ticket ID').first().json.start_time,\n  ticket_id: $('Generate Ticket ID').first().json.ticket_id\n}) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        864,
        -240
      ],
      "id": "609cf0c8-936f-44aa-b79e-48e606cd69e1",
      "name": "Log to Supabase"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5678/webhook/log-ticket",
        "sendBody": true,
        "contentType": "=json",
        "specifyBody": "json",
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "jsonBody": "={{ JSON.stringify({\n  channel: $('Generate Ticket ID').first().json.channel ?? 'chat',\n  customer_id: $('Generate Ticket ID').first().json.customer_id ?? 'unknown',\n  message: $('Generate Ticket ID').first().json.chatInput ?? '',\n  intent: $('Parse Confidence').first().json.intent ?? 'general',\n  confidence: $('Parse Confidence').first().json.confidence,\n  rag_answer: $('Return Flagged Response').first().json.output ?? '',\n  grounded: false,\n  escalated: true,\n  resolved: false,\n  resolution_note: null,\n  response_ms: $now.toMillis() - $('Generate Ticket ID').first().json.start_time,\n  ticket_id: $('Generate Ticket ID').first().json.ticket_id\n}) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1536,
        -48
      ],
      "id": "9cddd002-187d-49f1-8a44-9c23425d8fe1",
      "name": "Log to Supabase (Escalated)"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0a63f1d2-7f0f-4447-a516-b28ead614061",
              "name": "output",
              "value": "={{ $('Return Confident Response').item.json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1072,
        -240
      ],
      "id": "cc65a20d-f713-4b06-be55-221c5311f21c",
      "name": "Return Output"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "820926c4-1668-48b9-a59a-350eb3c89d5a",
              "name": "output",
              "value": "={{ $('Customer Response').item.json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1744,
        -48
      ],
      "id": "013fe6f5-0e26-41fb-935d-b71e68123d2f",
      "name": "Return Output (Escalated)"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Generate Ticket ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent (Generate RAG Response)",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent (Generate RAG Response)",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Generate Ticket ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent (Generate RAG Response)": {
      "main": [
        [
          {
            "node": "Parse Confidence",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Confidence": {
      "main": [
        [
          {
            "node": "Route by Confidence",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Confidence": {
      "main": [
        [
          {
            "node": "Return Confident Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return Flagged Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Request Payload": {
      "main": [
        [
          {
            "node": "Send to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Return Flagged Response": {
      "main": [
        [
          {
            "node": "Build Request Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send to Slack": {
      "main": [
        [
          {
            "node": "Customer Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Ticket ID": {
      "main": [
        [
          {
            "node": "AI Agent (Generate RAG Response)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Return Confident Response": {
      "main": [
        [
          {
            "node": "Log to Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Customer Response": {
      "main": [
        [
          {
            "node": "Log to Supabase (Escalated)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log to Supabase": {
      "main": [
        [
          {
            "node": "Return Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log to Supabase (Escalated)": {
      "main": [
        [
          {
            "node": "Return Output (Escalated)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "24323f94-200d-41cb-abc7-991e61c361cf",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3aa5d05bd944b1a046a965028417fe45892f642260fb797fac57ae0d5403a374"
  },
  "id": "7F8qDUdtvBXEBC0j",
  "tags": []
}