workflows/WF5_Feedback_Loop.json
{
  "name": "WF5 — Feedback Loop",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "68d7f226-4006-4e43-906d-ca91cdda39e3",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -672,
        -96
      ],
      "id": "73d0606d-c541-4ee1-a428-a873efa7d8b9",
      "name": "Webhook",
      "webhookId": "68d7f226-4006-4e43-906d-ca91cdda39e3"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body;\nconst payload = JSON.parse(decodeURIComponent(body.payload));\n\nconst action = payload.actions[0];\nconst action_id = action.action_id;\nconst ticket_id = action.value;\n\nconst blocks = payload.message.blocks;\nconst messageText = blocks[0].text.text;\nconst thread_ts = payload.message.ts;\n\nconst customerMsgMatch = messageText.match(/\\*Customer Message:\\*\\s*(.+?)(?:\\n\\n|\\*AI Response)/s);\nconst aiResponseMatch = messageText.match(/\\*AI Response:\\*\\s*(.+?)(?:\\n\\n|\\*Confidence)/s);\n\nconst customer_message = customerMsgMatch ? customerMsgMatch[1].trim() : '';\nconst ai_response = aiResponseMatch ? aiResponseMatch[1].trim() : '';\n\nreturn [{\n  json: {\n    action_id,\n    ticket_id,\n    customer_message,\n    ai_response,\n    thread_ts\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -448,
        -96
      ],
      "id": "f10613bb-e3f2-4a52-999e-b9d6d39974bb",
      "name": "Parse Slack Payload"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "28775d51-8add-4ba1-892b-5ad42d93a105",
              "leftValue": "={{ $json.action_id }}",
              "rightValue": "resolve_add_kb",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -224,
        -96
      ],
      "id": "f634b55b-0c1a-473b-b08f-0d048472aa9d",
      "name": "Route by Action"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a customer support knowledge base writer. Based on the following customer question and the human agent's answer, generate a clean FAQ entry.\n\nCustomer Question: {{ $json.customer_message }}\nHuman Agent Answer: {{ $json.human_answer }}\n\nReturn ONLY a JSON object in this exact format, nothing else:\n{\"question\": \"clean version of the customer question\", \"answer\": \"preserve the full detail from the human agent's answer, including all alternatives, recommendations, and actionable suggestions — do not summarize or shorten\"}",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        448,
        -192
      ],
      "id": "14106464-c03f-429a-a6c2-4424a2381f7c",
      "name": "Generate FAQ Entry"
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json.text;\nconst clean = raw.replace(/```json|```/g, '').trim();\nconst faq = JSON.parse(clean);\nreturn [{json: {\n  text: \"Question: \" + faq.question + \" Answer: \" + faq.answer\n}}];   "
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        -192
      ],
      "id": "c4085c60-ffd4-4fa9-973b-48e359473683",
      "name": "Parse FAQ"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        528,
        32
      ],
      "id": "137f0cfe-92ea-43f3-9218-ccafc5512ebe",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "lfuKF8ZZs91HysoW",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "qdrantCollection": {
          "__rl": true,
          "mode": "list",
          "value": "voltshop_kb"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        1024,
        -192
      ],
      "id": "f86b65f0-0774-4607-b23b-98a6c93c9163",
      "name": "Qdrant Vector Store",
      "credentials": {
        "qdrantApi": {
          "id": "ROqsx76NqqlV9lhY",
          "name": "Qdrant account 2"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-001"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        1040,
        32
      ],
      "id": "b3c3c836-4067-4221-aca5-b55223cb9418",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "lfuKF8ZZs91HysoW",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        1232,
        32
      ],
      "id": "e2e4bb8f-19c2-43ef-bd13-6167bc5f2ec8",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "url": "https://slack.com/api/conversations.replies",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "channel",
              "value": "C0AG97YAYP2"
            },
            {
              "name": "ts",
              "value": "={{ $json.thread_ts }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "REDACTED"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        16,
        -192
      ],
      "id": "8819b99f-036e-4803-8d0e-e45e85e789e0",
      "name": "Fetch Thread Reply"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst messages = data.messages || [];\nconst humanReplies = messages.filter(msg => !msg.bot_id);\n\nif (humanReplies.length === 0) {\n  return [{\n    json: {\n      action_id: $('Parse Slack Payload').item.json.action_id,\n      ticket_id: $('Parse Slack Payload').item.json.ticket_id,\n      customer_message: $('Parse Slack Payload').item.json.customer_message,\n      human_answer: null\n    }\n  }];\n}\n\nconst latestReply = humanReplies[humanReplies.length - 1];\nreturn [{\n  json: {\n    action_id: $('Parse Slack Payload').item.json.action_id,\n    ticket_id: $('Parse Slack Payload').item.json.ticket_id,\n    customer_message: $('Parse Slack Payload').item.json.customer_message,\n    human_answer: latestReply.text\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        -192
      ],
      "id": "e38dee49-6a69-4e9c-ba09-700f089aeae5",
      "name": "Extract Human Reply"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n-production-acb9.up.railway.app/webhook/log-ticket",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  action: \"update\",\n  resolved: true,\n  ticket_id: $('Parse Slack Payload').item.json.ticket_id,\n  resolution_note: $('Extract Human Reply').item.json.human_answer ?? 'marked resolved by human agent'\n}) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1376,
        -192
      ],
      "id": "30c2dccb-6c30-40ac-826a-14294e74eb84",
      "name": "Mark Ticket Resolved",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n-production-acb9.up.railway.app/webhook/log-ticket",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  action: \"update\",\n  resolved: true,\n  ticket_id: $('Parse Slack Payload').item.json.ticket_id,\n  resolution_note: \"marked resolved by human agent\"\n}) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        0,
        0
      ],
      "id": "858eaf46-3c53-45ab-bdf0-6fbb75627e8e",
      "name": "Mark Ticket Resolved1",
      "onError": "continueRegularOutput"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Parse Slack Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Slack Payload": {
      "main": [
        [
          {
            "node": "Route by Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Action": {
      "main": [
        [
          {
            "node": "Fetch Thread Reply",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mark Ticket Resolved1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate FAQ Entry": {
      "main": [
        [
          {
            "node": "Parse FAQ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Generate FAQ Entry",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Parse FAQ": {
      "main": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Thread Reply": {
      "main": [
        [
          {
            "node": "Extract Human Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Human Reply": {
      "main": [
        [
          {
            "node": "Generate FAQ Entry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store": {
      "main": [
        [
          {
            "node": "Mark Ticket Resolved",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "26cae60d-57d8-4b76-86a7-81bf0cc75bb8",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e61ca955d45596adf8233865c60f98769a65ad35941f24907f8086865f0f69ef"
  },
  "id": "hdeoQ932csc6NVKi",
  "tags": []
}